:root {
    --primary-color: #4073A0; /* Dark teal */
    --secondary-color: #569F5F; /* Lighter teal */
    --accent-color: #85B6C1; /* Soft mint */
    --secondary-accent-color:#BEF490; 
    --font-color: #3201ae; /* Soft yellow for text */
    --background-color: #ffffff; /* White background */
}
/* Heading Font: Barriecito */
h1, h2, h3 {
    font-family: 'Barriecito', cursive;
}

/* Text Font: Parisienne */
body, p {
    font-family: 'Parisienne', cursive;
}

h1, h2 {
    color: var(--primary-color);
}

h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

h2 {
    font-size: 2em;
    margin: 10px 0;
    color: var(--secondary-color);
}

p {
    font-size: 1.2em;
    margin: 15px 0;
    color: var(--font-color);
}

header {
    padding: 20px;
    text-align: center;
    background-color: var(--secondary-color);
    border-bottom: 3px solid var(--primary-color);
}
.sociallinks a {
    text-decoration: none; /* Removes underlines */
}
.container {
    max-width: 1200px;
}
/* Hero Image */
.hero img {
    display: block;
    width: 100%; /* Scales the image to the container width */
    height: auto;
}

/* Position h1 
.hero h1 {
    position: absolute; /* Allows absolute placement */
    top: 20%; /* Adjusts placement */
    left: 10%;
}

/* Position article */
.hero article {
    position: absolute; /* Allows absolute placement */
    bottom: 10%; /* Adjusts placement */
    left: 10%;
    background-color: rgba(0, 0, 0, 0.6); /* Adds readable background */
}

/* Float image in article */
.hero article img {
    float: right; /* Floats image to the right of text */
    margin-left: 10px; /* Adds space between text and image */
}
